<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Empleados</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/global.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Empleados</h3>
			</div>
			<div class="panel-body">
				<table id="empleados-table"></table>
				<div class="empleados-table-toolbar">
					<div class="form-inline" role="form">
						<button id="agregar-nuevo" type="button" class="btn btn-primary">Agregar Nuevo</button>
					</div>
				</div>
				<div id="edicion" style="display:none">
					<div class="separacion-15"></div>
					<form class="form-horizontal">
						<input type="hidden" id="id"/>
						<div class="form-group">
							<label for="legajo" class="col-md-2 control-label">Legajo</label>
							<div class="col-md-2">
								<input type="text" class="form-control" id="legajo" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="nombreYApellido" class="col-md-2 control-label">Nombre y Apellido</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="nombreYApellido" placeholder="Nombre y Apellido">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-4">
								<button type="button" id="cancelar" class="btn btn-default" style="display:none">Cancelar</button>
								<button type="button" id="guardar" class="btn btn-primary" style="display:none">Guardar</button>
								<button type="button" id="eliminar" class="btn btn-danger" style="display:none">Eliminar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">

$(function(){
	bootbox.setLocale("es");
	$("table#empleados-table").bootstrapTable({
		url: [[@{/api/empleados}]],
		pagination : true,
		sidePagination: 'server',
		pageSize: 5,
		pageList: [5,10,20],
		showRefresh: true,
		clickToSelect: true,
		singleSelect: true,
		columns: [
			{
				title: "#",
				checkbox: true,
			},
			{
				field: "id",
				title: "ID",
				visible: false
			},
			{
				field: "legajo",
				title: "Legajo"
			},
			{
				field: "nombreYApellido",
				title: "Nombre y Apellido"
			}
		],
		buttonsAlign: 'right',
		toolbarAlign: 'right',
		toolbar: "div#empleados-table-toolbar",
		onCheck: function(empleado){
			abrirEdicion(empleado);
		},
		onUncheck: function(){
			cerrarEdicion();
		}
	});
	
	$("button#agregar-nuevo").click(abrirCreacion);
	$("button#cancelar").click(cerrarEdicion);
	$("button#guardar").click(guardarEmpleado);
	$("button#eliminar").click(eliminarEmpleado);

	function abrirCreacion(){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").show();
		$("button#eliminar").hide();
		$("div#edicion").show();
		$("input#id").val(null);
		$("input#legajo").val(null);
		$("input#nombreYApellido").val(null);
	}
	
	function abrirEdicion(empleado){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").show();
		$("button#eliminar").show();
		$("div#edicion").show();
		$("input#id").val(empleado.id);
		$("input#legajo").val(empleado.legajo);
		$("input#nombreYApellido").val(empleado.nombreYApellido);
	}
	
	function cerrarEdicion(){
		$("div#edicion").hide();
		$("input#legajo").val(null);
		$("input#nombreYApellido").val(null);
		$("button#agregar-nuevo").prop("disabled",false);
	}
	
	function eliminarEmpleado(){
		var id = $("input#id").val();
		bootbox.confirm({
			message: "¿Está seguro que desea eliminar al empleado?",
			size: "small",
			callback: function(confirmed){
					bootbox.alert("Sin implementar");
			}
		});
	}
	
	function guardarEmpleado(){
		var empleado = getDatosEmpleado();
		var existente = empleado.id
		if ( existente ){
			actualizarEmpleadoExistente(empleado);
		} else {
			darDeAltaEmpleado(empleado);
		}
	}
	
	function darDeAltaEmpleado(empleado){
		$.ajax({
			url: [[@{/api/empleados/}]],
			method: "POST",
			dataType: 'json',
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(empleado)
		}).done(function(){
			cerrarEdicion();
			refreshTable();
		}).fail(handleFailure);
	}
	
	function actualizarEmpleadoExistente(empleado){
		$.ajax({
			url: [[@{/api/empleados/}]] + empleado.id,
			method: "PUT",
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			data: JSON.stringify(empleado)
		}).done(function(){
			cerrarEdicion();
			refreshTable();
		}).fail(handleFailure);
	}
	
	function handleFailure(e){
		var msg = "Ocurrió un problema al ejecutar la operación";
		switch ( e.status ){
			case 501:
				msg = "Método sin implementar";
			break;
		}
		bootbox.alert(msg);
	}
	
	function refreshTable(){
		$("table#empleados-table").bootstrapTable("refresh");
	}
	
	function getDatosEmpleado(){
		return {
			id: $("input#id").val(),
			legajo: $("input#legajo").val(),
			nombreYApellido: $("input#nombreYApellido").val()
		}
	}
});

</script>
<script th:src="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootbox/4.4.0/bootbox.js}" type="text/javascript"></script>
</body>
</html>